* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #008000;
    --second-color: #8C2121;
    --color-black: #000000;
    --color-white: #ffffff;
    --bord: 1px solid #777;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Roboto", sans-serif;
}

header {
    background-color: var(--second-color);
    color: var(--color-white);
    padding: 20px;
    text-align: center;
}

.hero {
    margin-top: 25px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    /* Default to single column */
    gap: 10px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns by default */
    align-items: center;
    text-align: center;
}

.col {
    padding: 10px;
}

.dataOne,
.weatherInformation {
    background-color: rgba(245, 245, 220, 0.926);
    border-radius: 7%;
    padding: 35px;
    margin: 10px 0;
    /* Add margin for spacing */
}

footer {
    background-color: var(--second-color);
    padding: 29px 25px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Styles */

@media screen and (min-width: 850px) {
    .grid {
        display: grid;
    }

    .dataOne {
        grid-column: 1;
        position: absolute;
        transform: translate(75%, 37%);
        background-color: rgba(245, 245, 220, 0.926);
        border-radius: 7%;
        padding: 35px;
    }

    .weatherInformation {
        position: absolute;
        transform: translate(80rem, 55rem);
        background-color: rgba(245, 245, 220, 0.926);
        border-radius: 7%;
        padding: 35px;

    }
}