* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: green;
}

.navbar {
    display: flex;
    background-color: #de3636;
    padding: 40px 30px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5em;
}

.hero {
    margin-top: 18px;
}

.grid {
    display: grid;
}

.dataelement {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
    padding: 15% 10%;
    grid-column: 3;
    grid-row: 3;
    transform: translate(27%, 20%);
    text-align: left;


}

.primerelemento {
    position: absolute;
    background-color: #078160;
    font-size: 1.5em;
    padding: 1% 7%;
    grid-column: 4;
    grid-row: 5;
    transform: translate(4.5rem, 7rem);
    text-align: left;
}

.dataelementtwo {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
    padding: 10% 8%;
    grid-column: 6;
    grid-row: 6;
    transform: translate(27%, 20%);
    text-align: left;


}

:root {
    --bord: 1px solid #777;
}

.datatable {
    width: 200px;
    margin-top: 2rem;
}

.row {
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    text-align: center;
}

.col {
    border-top: var(--bord);
    border-left: var(--bord);
    padding: 10px;
}

.col:nth-child(even) {
    border-right: var(--bord);
}

.row:last-child {
    border-bottom: var(--bord);
    background-color: #bbb;
}

footer {
    background-color: #de3636;
    padding: 16px 25px;
    color: #fff;
    align-items: center;
    text-align: center;
    grid-column: 1/10;
}