body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #3d8fc6;
    margin: 0 auto;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

#nava {
    text-align: left;
}

h2 {
    text-align: center;
}

.grid {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 400px 400px;
    font-size: 1rem;
    margin-left: 10%;
    text-align: center;
}

footer {
    background-color: #006699;
    padding: 16px 25px;
    color: #fff;
    margin-top: 60px;
    align-items: center;
    text-align: center;
    grid-column: 1/10;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
        justify-content: right;
    }
}